{% extends 'base.html' %}

{% load rest_framework %}

{% block content %}

{% if user.is_authenticated %}
<H1>Enter product informations </H1>
<div class="card-body pt-0">
    <form action="{% url 'product-create' %}" method="POST" enctype="multipart/form-data" novalidate>                   
       <div class='row mt-2'>
            {% csrf_token %}
            {% render_form serializer template_pack='rest_framework/vertical'%}
        </div>
        <button type="submit" class="btn btn-default">Save new product</button>
    {% if request.method == "POST" and serializer.errors %}
    <ul>
    {% for field, errs in serializer.errors.items %}
        {% for err in errs %}
            <li>{{ err }}</li>
        {% endfor %}
    {% endfor %}
    </ul>
    <p>Please correct the errors above and try again.</p>
    {% endif %} 

{% endif %}

{% endblock %}
