{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<H2>User Profile: {{ user.email }}</H2>

<h3><a href="{% url 'customer-order-history' %}">Your Order History</a></h3>

<uL>
    <li>First Name: {{ user.first_name }}</li>
 
    <li>Last Name: {{ user.last_name }}</li>
 
    <li>Email: {{ user.email }}</li>
 
    <li>Phone Number: {{ user.phone_number }}</li>
 
    <li>Role: {{ user.role }}</li>

</uL>

<p><a href="{% url 'user-profile-update' %}">Edit</a></p>
{% if user.role == 'farmer' and user.farmer_user.farm_name %}
<li>Farm Name: {{ user.farmer_user.farm_name }}</li>


{% endif %}

{% if user.role == 'farmer' and user.farmer_user.farm_name != '' %}
<p><a href="{% url 'farmer-profile' %}">See your farm info</a></p> 

{% elif user.role == 'farmer' %}
<p>Welcome {{ user.farmer_user.farm_name }}. You didn't enter your farm information. <a href="{% url 'farmer-create' %}">Create your farm info</a></p>
{% endif %}


{% else %}
<a href="{% url 'signup' %}">Sign up</a><span> or </span> <a href="{% url 'login' %}">Log in</a>

{% endif %}



{% endblock %}
