{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

{% for order in orders %}
    <div>
        <p>{{ order.product.name }} - {{ order.quantity }} - {{ order.status }}</p>
        {% if order.status == 'pending' %}
            <form method="post" action="{% url 'order-action' order.pk %}">
                {% csrf_token %}
                <button name="action" value="accept" type="submit">Accept</button>
            </form>
        {% elif order.status == 'accepted' %}
            <form method="post" action="{% url 'order-action' order.pk %}">
                {% csrf_token %}
                <button name="action" value="deliver" type="submit">Place in Delivery</button>
            </form>
        {% endif %}
    </div>
{% endfor %}

{% endif %}

{% endblock %}
